[Unit]
Description=Create System Users From Sysext
Documentation=man:sysusers.d(5) man:systemd-sysusers.service(8)

ConditionNeedsUpdate=|/etc
ConditionCredential=|sysusers.extra

DefaultDependencies=no
After=systemd-sysext.service systemd-confext.service
Before=systemd-update-done.service
Conflicts=shutdown.target
Before=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=systemd-sysusers
TimeoutSec=90s

# Optionally, pick up a root password and shell for the root user from a
# credential passed to the service manager. This is useful for importing this
# data from nspawn's --set-credential= switch.
ImportCredential=passwd.hashed-password.root
ImportCredential=passwd.plaintext-password.root
ImportCredential=passwd.shell.root

# Also, allow configuring extra sysusers lines via a credential
ImportCredential=sysusers.*
